<% layout('/layouts/boilerplate.ejs') -%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Create new listing</h3>
                <form method="POST" action="/listings" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-2">
                        <label for="title" class="form-label">Enter title</label>
                        <input type="text" name="listing[title]" class="form-control" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Enter title</div>
                    </div>

                    <div class="mb-2">
                        <label for="description" class="form-label">Enter description</label>
                        <textarea name="listing[description]" class="form-control" required></textarea>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Enter description</div>
                    </div>

                    <div class="mb-2">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="listing[image]" class="form-control" required>

                    </div>
                    <div class="mb-2">
                        <label for="category" class="form-label">Select a category</label>
                        <select name="listing[category]" class="form-select" aria-label="category" required>
                            <option selected>Choose an option</option>
                            <% for(cat of category) { %>
                                <option value="<%= cat %>">
                                    <%= cat %>
                                </option>
                                <% } %>

                        </select>
                    </div>
                    <div class="mb-2">
                        <label for="price" class="form-label">Enter Price</label>
                        <input type="number" name="listing[price]" class="form-control" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Enter Price</div>
                    </div>
                    <div class="row">
                        <div class="mb-2 col-md-8">
                            <label for="location" class="form-label">Enter location</label>
                            <input type="text" name="listing[location]" class="form-control" required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Enter location</div>
                        </div>
                        <div class="mb-2 col-md-4">
                            <label for="country" class="form-label">Enter country</label>
                            <input type="text" name="listing[country]" class="form-control" required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Enter country name</div>
                        </div>
                    </div>

                    <button class="btn btn-dark add-btn mt-2 mb-4">Add</button>
                </form>
            </div>
        </div>
    </body>